<!DOCTYPE html>
<html>
  <head>
    <title>Bartender AI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.flashes = <%= flash.to_h.values.to_json.html_safe %>;
  </script>
    <%= javascript_pack_tag 'vendor' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'graphiql/graphiql' %>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
